<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script>
        const roomName = "<%= roomName %>"
        const playerData = "<%= playerData%>"
        const roomsData = "<%= roomsData%>"
    </script>
    <title>Jeu Phaser</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>

</head>
<body>
<script defer src="../board_test.js"></script>
</body>
</html>